@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script&family=Roboto&display=swap');
/* font-family: 'Cinzel', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;*/


/* Reset  */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
h3{
    font-family: Dosis,sans-serif;
}

/* Header  */
header{
    max-width: 100%;
    overflow-x: hidden;
    height: 54vh;
    background-image:linear-gradient(45deg,rgba(0, 0, 0, 0.847),rgba(255, 255, 255, 0.162),rgba(255, 225, 53, 0.103)),  url("mobilebg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#social{
    padding:0em 1em;
}
#social .icons{
    margin:0.5em 0.2em;
    font-size: 1.em;
    color: rgb(255, 255, 255);
}

/* Hamburger  */
#hamBurger{
    position: fixed;
    right: -30em;
    top: 0;
    color: white;
    width: 40%;
    height: 2em;
    padding: 10px 18px;
    transition: all 1s;
    background-color: #f85c70;
    box-shadow: 0px 5px 10px 5px rgba(45, 45, 45, 0.563);
}
 #menu{
    font-size: 1.5em;
    position: fixed;
    top: 4px;
    right: 10px;
    color: #fff;
}
#hamBurger #close{
    position: relative;
    left: 0;
    font-size: 1.5em;
    color: white;
}

/* Main  */
#main{
    padding: 0 2em;
    margin: 4em 0em;
    color: rgb(255, 255, 255);
}
#main #p1{
    font-size: 1.7em;
}
#main h3 {
    font-size: 3em;
    padding-left: 0.1em;
    margin: 0.1em 0em;
    width: 45%;
    line-height: 1em;
    font-family: 'Dancing Script', cursive;
}
#main #p2 {
    font-size: 1em;
    width: 34%;
    font-family: 'Cinzel', serif;
    padding-left: 0.6em;
}
#main a {
    background-color: #f85c70;
    border-color: #f85c70;
    color: white;
    display: inline-block;
    font-size: 1em;
    margin: 3.2em 0.1em;
    padding: 0.3em 0.6em;
    border-radius: 1em;
    text-decoration: none;
}
/* Nav Bar  */
#nav{
    display: none;
}
#navMobile{
    background-color:#f85c70;
    position: fixed;
    top: 3em;
    right: -30em;
    height: 100vh;
    width: 40%;
    padding: 10px 18px;
    transition: all 1s;
    box-shadow: 0px 5px 10px 5px rgba(45, 45, 45, 0.563);
}
#navMobile a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 0.1em 0.5em;
    border: 1px solid white;
    background-color: #f85c70;
    font-family: 'Roboto', sans-serif;
    border-left: none;
    border-right: none;
}
#navMobile a:hover{
    background-color: white;
    color:#f85c70;
}


/* About  */
#about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.cards{
    padding: 4em 1em;
    width: 100%;
    box-sizing: border-box;
    border: 0.5px solid rgba(128, 128, 128, 0.46);
    border-collapse: collapse;
    padding-bottom: 2em;
}
.p-head{
    font-size: 2em;
    font-family: Dosis,sans-serif;
    margin-bottom: 0.5em;
}
.line{
    position: relative;
    display: block;
    top: -0.8em;
    padding-left: 0.2em;
    color: #f85c70;
}
.p-primary{
    font-family: Dosis,sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 0.4em;
}
.p-secondary{
    font-family: "Source Sans Pro",sans-serif;
    font-size: 1em;
    color: rgb(94, 94, 94);
    margin-bottom: 2em;
}
#card1 button{
    font-family: Dosis,sans-serif;
    color: #f85c70;
    border: 1px solid #f85c70;
    border-radius: 10px;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    background-color: white;
}
.resume_btn{
    text-decoration : none ;
    font-family: Dosis,sans-serif;
    color: #f85c70;
    border: 1px solid #f85c70;
    border-radius: 10px;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    background-color: white;
}
#card2 div{
    margin-bottom: 2em;
}
#card2 div p {
    font-size: 1em;
    color: rgb(95, 95, 95);
    margin: 0.4em 0;
}
#card2 div p span{
    color: rgb(26, 25, 25);
}
#card2 i{
    color:#f85c70;
    font-size: 1.4em;
    margin: 0.2em;
}
#card3{
    padding-bottom: 1em;
}
#card3>div{
    display: flex;
    margin-bottom: 0.9em;

}
#card3>div span{
    display: flex;
    align-items: center;
    color: #f85c70;
    font-size: 2em;
    padding: 0.1em 0.3em;
}
#card3 .p-primary1{
    font-family: Dosis,sans-serif;
    font-size: 1.5em;
    font-weight: 500;
}
#card3 .p-secondary1{
    font-family: "Source Sans Pro",sans-serif;
    font-size: 1em;
    color: rgb(94, 94, 94);
    padding-top: 0.5em;
}

/* Skill Section  */
#skill{
    width: 90%;
    margin: auto;
    padding: 2em 0;
}
.flex{
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}
.flex-items{
    width: 100%;
    flex-wrap: wrap;
    padding: 2em 0em;
    box-sizing: border-box;
}
#skill h3 {
    font-family: Dosis,sans-serif;
    text-align: center;
    font-size: 2em;
    margin: 1em;
    margin-bottom: 0;
}
#skill span{
    color: #f85c70;
}
.flex-items h4{
    font-family: Dosis,sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}
.flex-items p{
    font-family: "Source Sans Pro",sans-serif;
    letter-spacing: 0.5px;
    font-size: 1em;
    text-align: center;
    color: rgb(52, 52, 52);
}
#percentage{
    padding: 0.5em 0;
    display: flex;
    flex-direction: row;
}
#percentage p{
    color:#f85c70;
    font-size: 1.5em;
}
#percentage span {
    font-size: 1.5em;
    color: rgb(41, 41, 41);
    display: block;
    text-align: center;
    padding-top: 0.3em;
}
#percentage .flex-items{
    margin-bottom: 1em;
    width: 50%;
    box-sizing: border-box;
}


/* Our Team  */
#team{
    width: 90%;
    margin: 1em auto;
    text-align: center;
    border-radius: 3em;
    border: 1px solid blue;
    padding: 2em 0em;
    background-image: url("/bg.jpg");
    background-size: cover;
    box-shadow: 0px 3px 15px rgba(128, 128, 128, 0.588);
    margin-bottom: 10%;
}
#team>p{
    font-size: 2em;
    color: #fff;
    font-family: Dosis,sans-serif;
    margin: 1em ;
}
#team #container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
#team #container>div{
    width: 100%;
}
#team #container>div img{
    width: 14em;
    border-radius: 70em;
    height: 14em;
    object-fit: cover;
    margin: 1em;
}
#team #container>div h3 {
    font-size: 1.5em;
    color: #fff;
    font-family: Dosis,sans-serif;
    letter-spacing: 1px;
}
#team #container>div p {
    font-size: 1em;
    color: rgb(213, 213, 213);
    font-family: 'Cinzel', serif;
}
#team #container>div a {
    font-size: 1em;
}

/* My-Projects  */
#my-project{
    width: 90%;
    margin: 3em auto;
    padding: 1em 0;
}
#my-project h3{
    font-size: 2em;
    text-align: center;
    font-family: Dosis,sans-serif;
}
#my-project h3 span{
    color: #f85c70;
}
#project {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
#project a {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: black;
    /* border: 1px solid black; */
    border-radius: 1em;
    padding: 3em 1em;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px black;
    background-image: url(bg.jpg);
    background-size: cover;
}
#project h4{
    font-family: Dosis,sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 1em;
}
#project li{
    list-style-type: none;
    font-size: 1em;
    margin: 0.5em 0;
    color: rgb(255, 255, 255);
}
#my-project p{
    text-align: right;
    margin: 1em;
}

/* Contact section  */
#contact{
    width: 90%;
    margin: auto;
}
#contact h3{
    font-size: 2em;
    text-align: center;
    font-family: Dosis,sans-serif;
}
#contact h4{
    font-family: Dosis,sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: black;
    margin-bottom: 1em;
}
#contact p{
    font-family: "Source Sans Pro",sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
    color: rgb(52, 52, 52);
    padding: 0 2em;
    text-align: center;
}
#contact button{
    display: block;
    margin: auto;
}
#contact div{
    text-align: center;
}
#contact a{
    padding: 0.5em 0;
    font-size: 1em;
    border-radius: 2em;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 60%;
    margin: 1em auto;
}
